##############################
## OS X
##############################
.DS_Store

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

*.jar
*.tar
.terraform.lock.hcl
/.terraform
/tibco/storage/*.db
